{% extends 'layout.html' %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron text-center" style="background-color:#27404c; color: white;">
        <h1 class="text-center">Welcome Admin!</h1>
        <br>
        <br>
        <div style="font-size:18px;">

            <div class="row">
                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('viewEmployees') }}">
                        <button class="btn btn-default" type="button"><strong>View Employees</strong></button>
                    </a>
                </div>

                <div class="col">
                <label><strong></strong></label>
                <a href="{{ url_for('viewLocations') }}">
                    <button class="btn btn-default" type="button"><strong>View Locations</strong></button>
                </a>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('newEmployee') }}">
                        <button class="btn btn-default" type="button"><strong>Add Employee</strong></button>
                    </a>
                </div>

                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('newLocation') }}">
                        <button class="btn btn-default" type="button"><strong>Add Location</strong></button>
                    </a>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('viewRequests') }}">
                        <button class="btn btn-default" type="button"><strong>View Requests</strong></button>
                    </a>
                </div>

                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('assignEmployees') }}">
                        <button class="btn btn-default" type="button"><strong>Assign Employees</strong></button>
                    </a>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('deleteEmployee') }}">
                        <button class="btn btn-default" type="button"><strong>Delete Employee</strong></button>
                    </a>
                </div>

                <div class="col">
                    <label><strong></strong></label>
                    <a href="{{ url_for('deleteLocation') }}">
                        <button class="btn btn-default" type="button"><strong>Delete Location</strong></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
