{% extends 'layout.html' %}

{% block body %}
    <br>
    <br>
    <div>
        <div class="jumbotron text-center" style="background-color:#27404c; color:white;">
            <h2 class="text-center">Welcome {{session['username']}}</h2>

            <br>
            <br>

            <!-- Only executes block if user_details row was found -->
            {% if valid %}
                <h2>Currently placed at: {{ location }}</h2>
                <h2>This position was last updated: {{ employee['lastupdate'] }}</h2>
            {% endif %}


        </div>
    </div>
{% endblock %}
