<!-- Layout acts as parent document for all future templates, everything here is passed downwards -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">

    <!-- Allows child templates to override with custom links/inline_style -->
    {% block links %}{% endblock %}
    {% block style %}{% endblock %}
  </head>

  <body background="/static/assets/img/starsky.jpg" style="background-attachment: fixed;">

  <!-- Includes navbar at top of page, 3 breaklines sperated -->
  {% include 'includes/_navbar.html' %}

  <br>
  <br>
  <br>

  <div class="container">

    <!-- Space for messages to appear -->
    {% include 'includes/_messages.html' %}

    <!-- Rest of file appears below -->
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>


  </div>
  </body>

</html>
