<!-- Home page of location user, used to view current location information and submit requests to admin users -->
{% extends 'layout.html' %}

{% block inline_style %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Header-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
{% endblock %}

{% block body %}
    <br>
    <div>
        <div class="jumbotron text-center" style="background-color:#27404c;">
            <h2 class="text-center" style="color:white;">Welcome {{session['username']}}</h2>
            <br><br>

            <!-- Only executes block if user_details row was found -->
            {% if valid %}
                <h2>{{ location['name'] }} currently has: {{ location['numEmployees'] }} employee(s)</h2>
                <h2>Number of employees was last updated: {{ location['lastUpdate'] }}</h2>
            {% endif %}
            <div class="btn-group" role="group">
            </div>
        </div>
    </div>
{% endblock %}
