{% extends 'layout.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Custom.css') }}">
    <script src="{{ url_for('static', filename='assets/js/helper.js') }}"></script>
{% endblock %}

{% block body %}
    <br>
    <br>
    <!-- Open Requests -->
    <div class="table-responsive jumbotron text-center" style="background-color:#27404c; color:white;">
        <h1>Open Requests</h1>
        <br>
        <table id="arequests" class="table table-borderless">
            <thead class="unselectable">
                <tr style="background-position:center;font-size:20px;">
                    <th onclick="sortTable('arequests', 0)">Requester</th>
                    <th onclick="sortTable('arequests', 1, true)">Quantity</th>
                    <th onclick="sortTable('arequests', 2)">Requested For</th>
                    <th onclick="sortTable('arequests', 3)">Date Requested</th>
                </tr>
            </thead>
            <tbody>
                {% for req in orequests %}
                  <tr>
                    <td>{{req['name']}}</td>
                    <td>{{req['quantity']}}</td>
                    <td>{{req['datereq']}}</td>
                    <td>{{req['datesubmit']}}</td>
                    <form method="post">
                        <td><button name="assign" class="btn btn-default" type="submit" value="{{ req['reqnum'] }}">Assign</button></td>
                        <td><button name="invert" class="btn btn-default" type="submit" value="{{ req['reqnum'] }}">Close</button></td>
                    </form>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Closed Requests -->
    <div class="table-responsive jumbotron text-center" style="background-color:#27404c; color:white;">
        <h1>Closed Requests</h1>
        <br>
        <table id="irequests" class="table table-borderless">
            <thead class="unselectable">
                <tr style="background-position:center;font-size:20px;">
                    <th onclick="sortTable('irequests', 0)">Requester</th>
                    <th onclick="sortTable('irequests', 1)">Quantity</th>
                    <th onclick="sortTable('irequests', 2)">Requested For</th>
                    <th onclick="sortTable('irequests', 3)">Date Requested</th>
                </tr>
            </thead>
            <tbody>
                {% for req in crequests %}
                  <tr>
                      <td><del>{{req['name']}}</del></td>
                      <td><del>{{req['quantity']}}</del></td>
                      <td><del>{{req['datereq']}}</del></td>
                      <td><del>{{req['datesubmit']}}</del></td>
                      <form method="post">
                          <td><button name="invert" class="btn btn-default" type="submit" value="{{ req['reqnum'] }}">Reopen</button></td>
                      </form>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <br>
    <br>
{% endblock %}
